@font-face {
  font-family: Cloudy;
  src: url(./fonts/Cloud.otf);
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  --dark-blue: #31255a;
  --blue: #75b4e3;
  --light-blue: #8fe0ff;
  --shadow: 0px 0px 8px var(--dark-blue);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  display: flex;
}

header {
  display: flex;
  padding: 16px;
  background: linear-gradient(white, var(--light-blue), var(--blue));
}

header > div {
  flex: 4;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
  font-family: Cloudy;
  color: var(--dark-blue);
}

header > div > img {
  height: 75px;
  width: auto;
}

header > button {
  flex: 1;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-blue);
  background: none;
  border: none;
  cursor: pointer;
}

header > button:hover {
  filter: brightness(160%);
}

header > button:active {
  filter: brightness(240%);
}

main {
  flex: 1;
  display: grid;
  grid-template:
    'input' 2rem
    'current' 1fr
    'forecast' 1fr / 1fr;
  gap: 16px;
  padding: 16px;
  background: linear-gradient(
    var(--blue) 10%,
    var(--light-blue) 25%,
    white,
    var(--light-blue) 75%,
    var(--blue) 90%
  );
}

.search {
  width: 80%;
  grid-area: input;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 6rem;
  gap: 4px;
}

.search > * {
  padding: 4px;
  border-radius: 5px;
}

.search input {
  outline: none;
  border: 2px solid var(--blue);
  box-shadow: var(--shadow);
}

.search input:focus {
  border: 2px solid var(--dark-blue);
}

.search button {
  font-weight: 700;
  border: none;
  color: var(--light-blue);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.search button:hover {
  filter: brightness(160%);
}

.search button:active {
  filter: brightness(240%);
}

.current {
  height: 200px;
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 8px;
  padding: 8px;
  border: 2px solid var(--blue);
  border-radius: 5px;
  box-shadow: var(--shadow);
  color: var(--dark-blue);
}

.current > * {
  align-self: center;
}

.mini {
  height: 175px;
  display: grid;
  grid-template:
    'tempCon' 1fr
    'condition' max-content
    'location' max-content
    'time' max-content;
  gap: 4px;
  padding: 16px;
}

.mini .temp {
  grid-area: tempCon;
  display: grid;
  grid-template: 'icon temp';
  align-items: center;
  justify-self: start;
  gap: 8px;
}

.mini .icon {
  transform: scale(1.5);
  grid-area: icon;
}

.mini .temperatureC,
.mini .temperatureF {
  grid-area: temp;
  font-size: 2.5rem;
  justify-self: end;
}

.mini .condition,
.mini .location,
.mini .time {
  justify-self: end;
}

.mini .condition {
  grid-area: condition;
}

.mini .location {
  grid-area: location;
}

.mini .time {
  grid-area: time;
}

.details {
  height: 175px;
  display: grid;
  grid-template:
    'feels' 1fr
    'precipitation' 1fr
    'humidity' 1fr
    'wind' 1fr;
  align-items: center;
  gap: 12px;
  padding: 16px;
}

.details .feelsLikeC,
.details .feelsLikeF {
  grid-area: feels;
}

.details .windKPH,
.details .windMPH {
  grid-area: wind;
}

.forecast {
  grid-area: forecast;
  display: flex;
  justify-content: space-around;
}

.forecast .day {
  display: flex;
  flex-direction: column;
  color: var(--dark-blue);
}

.forecast .day .maxMin {
  display: grid;
  grid-template:
    'icon max' 1fr
    'icon min' 1fr;
  font-size: 0.9rem;
  gap: 4px;
  align-items: center;
}

.forecast .day .maxMin .icon {
  grid-area: icon;
}

.forecast .day .maxMin .maxC,
.forecast .day .maxMin .maxF {
  grid-area: max;
}

.forecast .day .maxMin .minC,
.forecast .day .maxMin .minF {
  grid-area: min;
}

.hidden {
  visibility: hidden;
}

footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
  font-family: Cloudy;
  padding: 16px;
  color: var(--dark-blue);
  background: linear-gradient(var(--blue), var(--light-blue), white);
}
