@font-face {
  font-family: Cloudy;
  src: url(./fonts/Cloud.otf);
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  --dark-blue: #31255a;
  --blue: #75b4e3;
  --light-blue: #8fe0ff;
  --error-blue: #54416d;
  --shadow: 0px 0px 8px var(--dark-blue);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.faded {
  filter: blur(8px);
}

.heavy {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: standCall 3s ease 1;
}

.heavy img {
  position: absolute;
  height: 100px;
  z-index: 2;
}

.heavy :first-child {
  height: 100%;
  z-index: 1;
}

.heavy :nth-child(2) {
  top: 20vh;
  left: 3vw;
  animation: menacing3 1.5s ease infinite;
}

.heavy :nth-child(3) {
  top: 35vh;
  left: 13vw;
  animation: menacing2 1.5s ease infinite;
}

.heavy :nth-child(4) {
  top: 1vh;
  left: 70vw;
  animation: menacing1 1.5s ease infinite;
}

.heavy :nth-child(5) {
  top: 15vh;
  left: 77vw;
  animation: menacing3 1.5s ease infinite;
}

.heavy :nth-child(6) {
  top: 30vh;
  left: 84vw;
  animation: menacing3 1.5s ease infinite;
}

.heavy :nth-child(7) {
  top: 70vh;
  left: 34vw;
  animation: menacing2 1.5s ease infinite;
}

.heavy :nth-child(8) {
  top: 77vh;
  left: 48vw;
  animation: menacing1 1.5s ease infinite;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: linear-gradient(white, var(--light-blue), var(--blue));
  font-family: Cloudy;
}

header > div {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
  color: var(--dark-blue);
}

header > div > img {
  height: 75px;
  width: auto;
}

header > button {
  align-self: center;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--dark-blue);
  background: none;
  margin-right: 4rem;
  border: none;
  cursor: pointer;
}

header > button:hover {
  filter: brightness(160%);
}

header > button:active {
  filter: brightness(240%);
}

main {
  flex: 1;
  display: grid;
  grid-template:
    'input' 2rem
    'current' max-content
    'forecast' max-content;
  gap: 32px;
  padding: 16px;
  background: linear-gradient(
    var(--blue) 10%,
    var(--light-blue) 25%,
    white,
    var(--light-blue) 75%,
    var(--blue) 90%
  );
}

.search {
  width: 80%;
  grid-area: input;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 6rem;
  gap: 4px;
}

.search > * {
  padding: 4px;
  border-radius: 5px;
}

.search input {
  outline: none;
  border: 2px solid var(--blue);
  box-shadow: var(--shadow);
}

.search input:focus {
  border: 2px solid var(--dark-blue);
}

.search button {
  font-weight: 700;
  border: none;
  color: var(--light-blue);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.search button:hover {
  filter: brightness(160%);
}

.search button:active {
  filter: brightness(240%);
}

.search .error {
  color: var(--light-blue);
  background-color: var(--error-blue);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 6px;
}

.current {
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 8px;
  color: var(--dark-blue);
  padding: 8px;
  border: 2px solid var(--blue);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.current > * {
  align-self: center;
}

.mini {
  display: grid;
  grid-template:
    'tempCon' 1fr
    'condition' max-content
    'location' max-content
    'time' max-content / 1fr;
  gap: 4px;
  padding: 16px;
}

.mini .temp {
  grid-area: tempCon;
  display: grid;
  grid-template: 'icon temp';
  align-items: center;
  gap: 8px;
}

.mini .icon {
  transform: scale(1.6);
  grid-area: icon;
}

.mini .temperatureC,
.mini .temperatureF {
  grid-area: temp;
  font-size: 2.5rem;
  justify-self: end;
}

.mini .condition,
.mini .location,
.mini .time {
  justify-self: end;
}

.mini .condition {
  grid-area: condition;
}

.mini .location {
  grid-area: location;
}

.mini .time {
  grid-area: time;
}

.current .details {
  display: grid;
  grid-template:
    'feels' 1fr
    'precipitation' 1fr
    'humidity' 1fr
    'wind' 1fr;
  align-items: center;
  gap: 12px;
  padding: 16px;
}

.current .details .feelsLikeC,
.current .details .feelsLikeF {
  grid-area: feels;
}

.current .details .windKPH,
.current .details .windMPH {
  grid-area: wind;
}

.forecast {
  grid-area: forecast;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  font-size: 0.9rem;
  color: var(--dark-blue);
  padding: 8px;
  border: 2px solid var(--blue);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.day .dayName {
  font-size: 1.2rem;
  padding: 16px;
  padding-bottom: 0;
}

.maxMin {
  display: grid;
  grid-template:
    'icon max' 1fr
    'icon min' 1fr;
  align-items: center;
  gap: 4px;
  padding: 16px;
}

.maxMin .icon {
  transform: scale(1.2);
  grid-area: icon;
}

.maxMin .maxC,
.maxMin .maxF {
  grid-area: max;
}

.maxMin .minC,
.maxMin .minF {
  grid-area: min;
}

.day .details {
  display: grid;
  grid-template:
    'precipitation' 1fr
    'humidity' 1fr
    'wind' 1fr;
  align-items: center;
  gap: 12px;
  padding: 16px;
  padding-top: 0;
}

.day .details .precipitation {
  grid-area: precipitation;
}

.day .details .humidity {
  grid-area: humidity;
}

.day .details .maxWindKPH,
.day .details .maxWindMPH {
  grid-area: wind;
}

.hidden {
  visibility: hidden;
}

footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
  font-family: Cloudy;
  padding: 16px;
  color: var(--dark-blue);
  background: linear-gradient(var(--blue), var(--light-blue), white);
}

@keyframes standCall {
  0% {
    transform: translateX(-100%);
  }

  30% {
    transform: translateX(0%);
  }

  70% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes menacing1 {
  0% {
    transform: scale(0.7);
  }

  25% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(0.7);
  }

  75% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0.7);
  }
}

@keyframes menacing2 {
  0% {
    transform: scale(1.5);
  }

  25% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.5);
  }

  75% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes menacing3 {
  0% {
    transform: scale(1.5);
  }

  33% {
    transform: scale(0.7);
  }

  45% {
    transform: scale(1.5);
  }

  66% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1.5);
  }
}

@media (max-width: 600px) {
  .current {
    flex-direction: column;
  }

  .heavy img {
    width: 66px;
  }

  .heavy :first-child {
    width: 140%;
    top: 10vh;
    left: -30vw;
  }
}
